/* Текстовые параментры */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* font-family: 'Cormorant Infant', serif; */
}

h1 {
    
    font-family: 'Cormorant Infant', serif;
    font-size: 80px;
    /*  */
    /*  */
    font-weight: 900;
    color: cornflowerblue;
    text-align: center;
}

p {
    line-height: 1.5;
    /* letter-spacing: 1px; */
    /* word-spacing: 3px; */
    text-align: justify;
}


/* Отступы */
* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 35px;
}

h1 {
    margin: 60px 0;
}

h2 {
    margin-top: 60px;
    margin-bottom: 15px;
}

.title-img {
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}
p {
    line-height: 27px;
    text-align: justify;
}

.note {
    display: block;
    margin-bottom: 50px;
}



/* Медия контент */
img {
    width: 60%;
    /* float: right; */
    display: block;
    margin: 0 auto; 
}


.video {
    width: 80%;
    display: block;
    aspect-ratio: 16/9;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
}



/* сылки */
a{
    text-decoration: none; /*  */
    color: brown;
}
/* настройки для посещёных сылок */
a:visited {
    color: #065c3f;
}



/* Шапка сайта */
header {
    height: 130px;
    background-color: #6495ed;
}

.menu-container {
    height: 30px;
    max-width: 1000px;
    padding: 50px 35px;
    margin: 0 auto;
    text-align: center;
}

.menu {
    color: crimson;
    font-weight: 700;
    font-size:  22px;
    margin-right: 30px;
}
.menu:visited {
    color: crimson;
    font-weight: 700;
    font-size:  22px;
    margin-right: 30px;
}
.menu:hover {
    color: #065c3f;
}





/* подвал сайта */
footer {
    height: 230px;
    background-color: cornflowerblue;
}

.footer-container{
    height: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 35px; 
}


 /* кнопка */
 .button {
    display: block;
    width: 25%;
    margin: 70px auto;
    padding: 25px 50px;
    border-radius: 60px;

    background-color: chartreuse;
    color: rgb(25, 6, 173);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
 }

 .button:hover {
    background-color: crimson;
    color: white;
 }


 /* Оглавление статьи */

.chapters {
    display: block;
    margin-bottom: 10px;

    color: forestgreen;
    text-decoration: none;
    font-weight: 700;
    font-size: 23px;
}
.chapters:visited {
    color: forestgreen;
}

.chapters:hover {
    color: blueviolet;
}

.content-border {
    padding-top: 30px;
    padding-bottom: 20px;

    background-color: darkorange; 

}
